<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a href="#" (click)="onAllClick()">Все</a></li>
      <li><a href="#" (click)="onHotelLinkClick()">Отель</a></li>
      <li><a href="#" (click)="onFishingClick()">Рыбалка</a></li>
      <li><a href="#" (click)="onTourClick()">Тур</a></li>
      <li class="anc-bor"><a href="#">Погода</a></li>
    </ul>
  </div>
  <div class="village">
    <h3>Отели и места для отдыха</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">

        <div class="container">
          <div class="row" *ngIf="hotels$ | async as hotels; else loadRef">
            <!--<div *ngFor="let key of products[0] | keyvalue ">-->
            <!--<div>{{key | json}}</div>-->
            <!--</div>-->
            <div class = "list-group">
              <app-hotel *ngFor="let hotel of hotels | hotelFilter:searchCriteria;"
                         (onHotelClick)="onItemClick($event)"
                         [hotel]="hotel"
              ></app-hotel>
            </div>
          </div>
          <ng-template #loadRef>
            <div>
              ...loading
            </div>
          </ng-template>
        </div>

        <!--<app-hotel resortAddress="Resort Address" hotelPhone="+1285 968 685" img1Src="assets/images/res.jpg" img2Src="assets/images/r1.jpg"></app-hotel>-->
        <!--<app-hotel resortAddress="Resort Address" hotelPhone="+1285 968 685" img1Src="assets/images/res.jpg" img2Src="assets/images/r1.jpg"></app-hotel>-->
        <!--<app-hotel resortAddress="Resort Address" hotelPhone="+1285 968 685" img1Src="assets/images/res.jpg" img2Src="assets/images/r1.jpg"></app-hotel>-->
        <!--<app-hotel resortAddress="Resort Address" hotelPhone="+1285 968 685" img1Src="assets/images/res.jpg" img2Src="assets/images/r1.jpg"></app-hotel>-->
        <!--<app-hotel resortAddress="Resort Address" hotelPhone="+1285 968 685" img1Src="assets/images/res.jpg" img2Src="assets/images/r1.jpg"></app-hotel>-->
      </div>
    </div>
  </div>
</div>
