<h1>Hot Weather Widget</h1>

<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
    <app-hotels (onHotelClick)="onHotelClick($event)"></app-hotels>
  </div>
  <div class="element-right">
    <app-weather [title]="selectedHotel?.weather.title" [waterDegree]="selectedHotel?.weather.water" [airDegree]="selectedHotel?.weather.temperature"></app-weather>
    <app-teddy-bear [followers]="selectedHotel?.social_info.followers" [following]="selectedHotel?.social_info.following" [imgSrc]="selectedHotel?.social_info.img" [socialTitle]="selectedHotel?.social_info.title"></app-teddy-bear>
  </div>
  <div class="clear"></div>
</div>

<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>

