<app-header></app-header>

<div class="element">
  <div class="element-left">
    <div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div>
    <app-hotels (onHotelClick)="onHotelClick($event)"></app-hotels>
  </div>
  <div class="element-right">
    <app-weather [title]="weatherTitle" [waterDegree]="waterDegree" [airDegree]="airDegrre"></app-weather>
    <app-teddy-bear></app-teddy-bear>
  </div>
  <div class="clear"> </div>
</div>

<app-copy-right></app-copy-right>

